.skillIcon {
  font-size: 3rem; /* Adjust the size as needed */
}

.skillSetSection {
  padding: 20px;
}

.skillContent {
  text-align: center;
}

.skillDesc {
  margin-bottom: 20px;
}

.skillSet {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 icons per row */
  gap: 20px; /* Space between icons */
  justify-items: center;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillLogo {
  font-size: 3rem; /* Adjust the size as needed */
  margin-bottom: 10px;
}

.skillHeading {
  color: #0badb3; /* Color for the heading */
}